@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    background-color: rgb(54, 54, 54);
    background-image: url(https://images.pexels.com/photos/5076531/pexels-photo-5076531.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 100vh;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}


/* Container */
.container {
    min-width: 580px;
    min-height: 304px;
    color: aliceblue;
    margin: 0;
    padding: 25px 0px;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgba(54,54,54,0.5);
}

/*.input-container {
    position: relative; 
}*/


/* Form */
form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;

}

label {
    font-size: 20px;
    line-height: 70px;  
}


/* Button */
button {
    width: 75%;
    height: 40px;
    border-radius: 20px;
    margin: 15px 0 20px;
    border: none;
    background: wheat;
    cursor: pointer;
    /*outline: none; */
    color: rgb(54,54,54);
    font-weight: 800;
    font-size: 20px; 
    transition: all 0.2s ease-in; 
    display: inline-block;
    text-align: center;
}

button:hover {
    filter: brightness(115%);  
}

button:active {
    transform: scale(0.95);
}

/* Title */
h1 {
    font-weight: bold;
    font-size: 60px;
    /* margin: 0px 0 10px; */
    color: rgb(245, 214, 155);
    text-align: center;
}


/* Countdown */
/*ul {
    margin-left: -45px;
}*/

li {
    list-style-type: none;
    font-size: 30px;
    color: wheat;
    padding: 10px;
    display: inline-block;
}

li span {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    line-height: 2;
}


/* Complete */
h2 {
    font-weight: lighter;
}



.complete-title {
    animation: complete 4s infinite;
}

@keyframes complete {
    0%{
        color: rgb(233, 156, 13);
    }
    25%{
        color: rgb(233,211,13);
    }
    50%{
        color: rgb(171, 233, 13);
        transform: scale(1.2);
    }
    75%{
        color: rgb(8, 147, 253);
    }
    100%{
        color: rgb(202, 16, 231);
    }
}



@media(max-width:600px) {
 
    h1 {
        font-size: 30px;
    } 

    input {
        height: 20px;
        
    }

    .date {
        height: 40px;
        
    }

    .complete h1 {
        font-size: 25px;
    }

    li {
        font-size: 20px;
    }

}
