* {
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*body {
  overflow-y: hidden;
} */




/* NAV BAR */
nav  {
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  background-color: transparent; /*GO BACK*/
  padding: 30px 0 0 60px;
  position: fixed;
  width: 100%;  
  display: flex;       
}

nav a {
  width: 120px;
  text-decoration: none;
  padding: 30px 16px;
  color: whitesmoke;
  text-align: center;  
  transition: .3s;
}

nav a:hover
/*nav a.active */ {
    font-weight: bold;
    border-bottom: white solid 3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    opacity: 0.8;
} 
/*
.container {
  min-width: 400px;
  min-height: 50px;
  background-color: rgb(242, 151, 207, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 50px;
}
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
} 

.img {
  width: 100%;
  height: 100%;
  
}
img {
  width: 400px;
  height: 400px;
}


/* main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */

section {
  /*height: 100vh; 
  overflow: hidden;
  scroll-snap-align: start; */
  display: flex;
  align-items: center;
  justify-content: center;
}

img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

.music-app {
  background-image: linear-gradient(rgb(227, 134, 41), whitesmoke);

}

.coffee-mag {
  background-image: linear-gradient(rgb(2, 54, 90), whitesmoke);
  padding: 100px;
}

.checkout-page {
  background-image: linear-gradient(rgb(66, 66, 72), whitesmoke);
  padding: 100px;
}

.run-page {
  background-image: linear-gradient(rgb(227, 134, 41), whitesmoke);
  padding: 100px;
}

.mirinda {
  background-image: linear-gradient(rgb(227, 134, 41), whitesmoke);
  padding: 100px;
} 

/*.google-cakes {
  background-image: linear-gradient(rgb(238, 75, 176), whitesmoke);
  padding: 100px;
} */
 
.countdown-timer {
  background-image: linear-gradient(rgb(66, 66, 72), whitesmoke);
  padding: 100px;
}


video {
  border-radius: 20px;
  margin-left: 150px;
}

.description {
  margin-right: 150px;
  padding-left: 80px;
}

#project-name {
  text-align: center;
}

span {
  line-height: 3;
  font-size: 15px;
  color: whitesmoke;
  /* color: rgb(208, 60, 169); */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: rgb(48, 47, 47);
  font-weight: lighter;
  font-size: 30px;
}

p {
  font-family: 'Quicksand', sans-serif;
}


/* RESPONSIVE */
@media screen and (max-width:1416px) {
  video, .description {
    margin: 0;
  }

}


@media screen and (max-width:1000px) {
  
    /* Google Cakes */
  .container {
    padding: 0 0 20px 0;
    margin-top: -50px;
    display: grid;
   }
  
  .description {
    grid-row: 1;
    padding: 50px 50px 50px 50px;
   }

  .video {
    margin: auto;
    align-items: center;
  }
  
}


@media screen and (max-width:600px) {
  nav {
    padding: 10px 0 0 30px;
  }

  h2 {
    font-size: 45px;
  }

  p {
    font-size: 14px;
  }

}
